/* Coolors Exported Palette - https://coolors.co/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */

/* CSS HEX */
--navy-blue: #03045eff;
--dark-cornflower-blue: #023e8aff;
--star-command-blue: #0077b6ff;
--blue-green: #0096c7ff;
--cerulean-crayola: #00b4d8ff;
--sky-blue-crayola: #48cae4ff;
--sky-blue-crayola-2: #90e0efff;
--blizzard-blue: #ade8f4ff;
--powder-blue: #caf0f8ff;

/* CSS HSL */
--navy-blue: hsla(239, 94%, 19%, 1);
--dark-cornflower-blue: hsla(214, 97%, 27%, 1);
--star-command-blue: hsla(201, 100%, 36%, 1);
--blue-green: hsla(195, 100%, 39%, 1);
--cerulean-crayola: hsla(190, 100%, 42%, 1);
--sky-blue-crayola: hsla(190, 74%, 59%, 1);
--sky-blue-crayola-2: hsla(189, 75%, 75%, 1);
--blizzard-blue: hsla(190, 76%, 82%, 1);
--powder-blue: hsla(190, 77%, 88%, 1);

/* SCSS HEX */
$navy-blue: #03045eff;
$dark-cornflower-blue: #023e8aff;
$star-command-blue: #0077b6ff;
$blue-green: #0096c7ff;
$cerulean-crayola: #00b4d8ff;
$sky-blue-crayola: #48cae4ff;
$sky-blue-crayola-2: #90e0efff;
$blizzard-blue: #ade8f4ff;
$powder-blue: #caf0f8ff;

/* SCSS HSL */
$navy-blue: hsla(239, 94%, 19%, 1);
$dark-cornflower-blue: hsla(214, 97%, 27%, 1);
$star-command-blue: hsla(201, 100%, 36%, 1);
$blue-green: hsla(195, 100%, 39%, 1);
$cerulean-crayola: hsla(190, 100%, 42%, 1);
$sky-blue-crayola: hsla(190, 74%, 59%, 1);
$sky-blue-crayola-2: hsla(189, 75%, 75%, 1);
$blizzard-blue: hsla(190, 76%, 82%, 1);
$powder-blue: hsla(190, 77%, 88%, 1);

/* SCSS RGB */
$navy-blue: rgba(3, 4, 94, 1);
$dark-cornflower-blue: rgba(2, 62, 138, 1);
$star-command-blue: rgba(0, 119, 182, 1);
$blue-green: rgba(0, 150, 199, 1);
$cerulean-crayola: rgba(0, 180, 216, 1);
$sky-blue-crayola: rgba(72, 202, 228, 1);
$sky-blue-crayola-2: rgba(144, 224, 239, 1);
$blizzard-blue: rgba(173, 232, 244, 1);
$powder-blue: rgba(202, 240, 248, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-right: linear-gradient(90deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-bottom: linear-gradient(180deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-left: linear-gradient(270deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-top-right: linear-gradient(45deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-bottom-right: linear-gradient(135deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-top-left: linear-gradient(225deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-bottom-left: linear-gradient(315deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-radial: radial-gradient(#03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);

/* Coolors Exported Palette - https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */

/* CSS HEX */
--cultured: #f8f9faff;
--cultured-2: #e9ecefff;
--gainsboro: #dee2e6ff;
--light-gray: #ced4daff;
--cadet-blue-crayola: #adb5bdff;
--slate-gray: #6c757dff;
--davys-grey: #495057ff;
--gunmetal: #343a40ff;
--charleston-green: #212529ff;

/* CSS HSL */
--cultured: hsla(210, 17%, 98%, 1);
--cultured-2: hsla(210, 16%, 93%, 1);
--gainsboro: hsla(210, 14%, 89%, 1);
--light-gray: hsla(210, 14%, 83%, 1);
--cadet-blue-crayola: hsla(210, 11%, 71%, 1);
--slate-gray: hsla(208, 7%, 46%, 1);
--davys-grey: hsla(210, 9%, 31%, 1);
--gunmetal: hsla(210, 10%, 23%, 1);
--charleston-green: hsla(210, 11%, 15%, 1);

/* SCSS HEX */
$cultured: #f8f9faff;
$cultured-2: #e9ecefff;
$gainsboro: #dee2e6ff;
$light-gray: #ced4daff;
$cadet-blue-crayola: #adb5bdff;
$slate-gray: #6c757dff;
$davys-grey: #495057ff;
$gunmetal: #343a40ff;
$charleston-green: #212529ff;

/* SCSS HSL */
$cultured: hsla(210, 17%, 98%, 1);
$cultured-2: hsla(210, 16%, 93%, 1);
$gainsboro: hsla(210, 14%, 89%, 1);
$light-gray: hsla(210, 14%, 83%, 1);
$cadet-blue-crayola: hsla(210, 11%, 71%, 1);
$slate-gray: hsla(208, 7%, 46%, 1);
$davys-grey: hsla(210, 9%, 31%, 1);
$gunmetal: hsla(210, 10%, 23%, 1);
$charleston-green: hsla(210, 11%, 15%, 1);

/* SCSS RGB */
$cultured: rgba(248, 249, 250, 1);
$cultured-2: rgba(233, 236, 239, 1);
$gainsboro: rgba(222, 226, 230, 1);
$light-gray: rgba(206, 212, 218, 1);
$cadet-blue-crayola: rgba(173, 181, 189, 1);
$slate-gray: rgba(108, 117, 125, 1);
$davys-grey: rgba(73, 80, 87, 1);
$gunmetal: rgba(52, 58, 64, 1);
$charleston-green: rgba(33, 37, 41, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-right: linear-gradient(90deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-bottom: linear-gradient(180deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-left: linear-gradient(270deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-top-right: linear-gradient(45deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-bottom-right: linear-gradient(135deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-top-left: linear-gradient(225deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-bottom-left: linear-gradient(315deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-radial: radial-gradient(#f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);

/* CSS HEX */
--true-blue: #0466c8ff;
--usafa-blue: #0353a4ff;
--dark-cornflower-blue: #023e7dff;
--oxford-blue: #002855ff;
--oxford-blue-2: #001845ff;
--oxford-blue-3: #001233ff;
--independence: #33415cff;
--black-coral: #5c677dff;
--roman-silver: #7d8597ff;
--manatee: #979dacff;

/* CSS HSL */
--true-blue: hsla(210, 96%, 40%, 1);
--usafa-blue: hsla(210, 96%, 33%, 1);
--dark-cornflower-blue: hsla(211, 97%, 25%, 1);
--oxford-blue: hsla(212, 100%, 17%, 1);
--oxford-blue-2: hsla(219, 100%, 14%, 1);
--oxford-blue-3: hsla(219, 100%, 10%, 1);
--independence: hsla(220, 29%, 28%, 1);
--black-coral: hsla(220, 15%, 43%, 1);
--roman-silver: hsla(222, 11%, 54%, 1);
--manatee: hsla(223, 11%, 63%, 1);

/* SCSS HEX */
$true-blue: #0466c8ff;
$usafa-blue: #0353a4ff;
$dark-cornflower-blue: #023e7dff;
$oxford-blue: #002855ff;
$oxford-blue-2: #001845ff;
$oxford-blue-3: #001233ff;
$independence: #33415cff;
$black-coral: #5c677dff;
$roman-silver: #7d8597ff;
$manatee: #979dacff;

/* SCSS HSL */
$true-blue: hsla(210, 96%, 40%, 1);
$usafa-blue: hsla(210, 96%, 33%, 1);
$dark-cornflower-blue: hsla(211, 97%, 25%, 1);
$oxford-blue: hsla(212, 100%, 17%, 1);
$oxford-blue-2: hsla(219, 100%, 14%, 1);
$oxford-blue-3: hsla(219, 100%, 10%, 1);
$independence: hsla(220, 29%, 28%, 1);
$black-coral: hsla(220, 15%, 43%, 1);
$roman-silver: hsla(222, 11%, 54%, 1);
$manatee: hsla(223, 11%, 63%, 1);

/* SCSS RGB */
$true-blue: rgba(4, 102, 200, 1);
$usafa-blue: rgba(3, 83, 164, 1);
$dark-cornflower-blue: rgba(2, 62, 125, 1);
$oxford-blue: rgba(0, 40, 85, 1);
$oxford-blue-2: rgba(0, 24, 69, 1);
$oxford-blue-3: rgba(0, 18, 51, 1);
$independence: rgba(51, 65, 92, 1);
$black-coral: rgba(92, 103, 125, 1);
$roman-silver: rgba(125, 133, 151, 1);
$manatee: rgba(151, 157, 172, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-right: linear-gradient(90deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-bottom: linear-gradient(180deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-left: linear-gradient(270deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-top-right: linear-gradient(45deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-bottom-right: linear-gradient(135deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-top-left: linear-gradient(225deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-bottom-left: linear-gradient(315deg, #0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
$gradient-radial: radial-gradient(#0466c8ff, #0353a4ff, #023e7dff, #002855ff, #001845ff, #001233ff, #33415cff, #5c677dff, #7d8597ff, #979dacff);
